<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xperez.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Main Activity 1-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInPage"  >
        </activity>
        <activity android:name=".SignUp">
        </activity>
        <activity android:name=".HomePage">
        </activity>

        <!-- Main Activity 2-->
        <activity android:name=".MainActivity2"
            android:label="@string/app_name">
            </activity>
        <activity android:name=".LogInPage">
            </activity>
            <activity android:name=".HomePage">

            </activity>


        <!--Main Activity 3-->
        <activity android:name=".MainActivity3">
            android:label="@string/app_name"
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>